<launch>
    <!-- parameter : path file -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_yeah/path_pre_240827.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/CBuniv_yeah/path_pre_240827.txt"/> -->

    <!-- pre_path -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_yeah/path_pre_240827.txt"/> -->
    <!-- real path -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_yeah/inter_ch_0.8_3.80_index.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/CBuniv_yeah/inter_ch_0.8_3.80_index.txt"/> -->


<!-- pre path ver1 1440-->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_yeah/CB_yeah_inter_index.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/CBuniv_yeah/CB_yeah_inter_index.txt"/> -->



    <!-- <arg name="pathIn" default="$(find autocarz)/path/jeju/born_250709am11_in_1601.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju/born_250709am11_out_1605.txt"/> -->

    <!-- <arg name="pathIn" default="$(find autocarz)/path/jeju/born_250710_in_1598.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju/born_250710_out_1606.txt"/> -->


    <arg name="pathIn" default="$(find autocarz)/path/jeju_2026/in_index_fin.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju_2026/out_index_fin.txt"/>


    <!-- <arg name="pathIn" default="$(find autocarz)/path/jeju_2026/yeah_fin_v3.txt"/> -->
    <!-- <arg name="pathOut" default="$(find autocarz)/path/jeju_2026/yeah_fin_v3.txt"/> -->




    <!-- <arg name="pathIn" default="$(find autocarz)/path/jeju/jeju_yeah.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju/jeju_yeah.txt"/> -->

<!-- <0516 path in:1460  path out:1522 -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_born/PP_in_250516_index.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/CBuniv_born/PP_out_250516_index.txt"/>  -->

    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_born/PP_in_250510_index.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/CBuniv_born/PP_out_250510_index.txt"/> -->

    <arg name="isPreRound" default="false"/>


    <!-- drive -->
    <node pkg="autocarz" type="main.py" name="planner_vector" output = "screen"/>
        <param name="pathIn" value="$(arg pathIn)"/>
        <param name="pathOut" value="$(arg pathOut)"/>
        <param name="isPreRound" value="$(arg isPreRound)"/>


    <node pkg="autocarz" type="serialControl.py" name="serialControl" output = "screen" />

    
        <param name="isPreRound" value="$(arg isPreRound)"/>


    <!-- <node pkg="autocarz" type="serialControl.py" name="serialControl" output = "screen" /> -->

    

    <!-- pointcloud ROI -->
    <!-- <node pkg="autocarz" type="roi_in" name="roi_in" output = "screen" />
        <param name="path_in" value="$(arg pathIn)"/>

    <node pkg="autocarz" type="roi_out" name="roi_out" output = "screen" />
        <param name="path_out" value="$(arg pathOut)"/>
        <param name="path_out" value="$(arg pathOut)"/>

    <node pkg="autocarz" type="ransac_in" name="ransac_in" />

    <node pkg="autocarz" type="ransac_out" name="ransac_out"  />

    <node pkg="autocarz" type="cluster_in" name="cluster_in" />

    <node pkg="autocarz" type="cluster_out" name="cluster_out"  /> -->

    <!-- <node pkg="autocarz" type="tracker.py" name="tracker" output = "screen" /> -->
    <node pkg="rviz" type="rviz" name="rviz_lidarm" args="-d $(find autocarz)/rviz/autocarz.rviz" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 odom map" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 base_link velodyne " />
    <!-- <node pkg="autocarz" type="jsk_visualization.py" name="jsk_visualization" output = "screen" />	 -->

</launch>
