<launch>

    <arg name="pathIn" default="$(find autocarz)/path/middle_in_240827.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/middle_out_240827.txt"/>
    <arg name="vlp_topic" default="/velodyne_points"/>
    <arg name="livox_topic" default="/livox/lidar"/>

    <!-- Merge pointcloud from VLP and Livox -->
    <node pkg="autocarz" type="merge_point" name="merge_point" output="screen">
        <param name="vlp_topic" value="$(arg vlp_topic)"/>
        <param name="livox_topic" value="$(arg livox_topic)"/>
        <param name="livox_x_offset" value="0.36"/>
    </node>

    <group ns="vlp">
        <!-- ROI Node -->
        <node pkg="autocarz" type="roi" name="roi" output="screen">
            <param name="path_in" value="$(arg pathIn)" type="str"/>
            <param name="path_out" value="$(arg pathOut)" type="str"/>
            <param name="pointcloud_topic" value="/merge_point/merged_pointcloud"/>
            <!-- <param name="pointcloud_topic" value="/velodyne_points"/> -->
            <param name="roi_idxlen" value="70"/>   <!-- 16+2m -->
            <param name="roi_idx_start" value="7"/>   <!-- 2m / 7 -->
            <param name="is_livox" value="false"/>
            <param name="radius_dim" value="0.1"/> <!--roi반경 축소-->
        </node>

        <!-- RANSAC Node -->
        <node pkg="autocarz" type="ransac" name="ransac" output="screen"> 
            <param name="z_threshold" value="0.375"/>
            <param name="topic_input" value="/vlp/roi/roi"/>
        </node>
    </group>

    <!-- Clustering Node -->
    <node pkg="autocarz" type="cluster" name="cluster" output="screen"/>

</launch>
