<launch>
    <!-- parameter : path file -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/fitpath_in_240808.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/fitpath_out_240808.txt"/> -->

    <!-- pre path -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/path_pre_240827.txt"/> -->
    <!-- real path -->
    
    <!-- <arg name="pathIn" default="$(find autocarz)/path/CBuniv_yeah/CB_yeah_inter_index.txt"/>
    <arg name="pathOut" default="$(find autocarz)/pathCBuniv_yeah/CB_yeah_inter_index.txt"/> -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/jeju/born_250709am11_in_1601.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju/born_250709am11_out_1605.txt"/>
     -->
    <arg name="pathIn" default="$(find autocarz)/path/jeju_2026/in_index_fin.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju_2026/out_index_fin.txt"/>

<!--     
    <arg name="pathIn" default="$(find autocarz)/path/jeju_2026/jeju_yeah_0.8.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/jeju_2026/jeju_yeah_0.8.txt"/> -->

    <arg name="carla" default="false"/>
    <!--IF BAG FILE-->
    <!-- <param name="pathIn" value="$(arg pathIn)"/>
    <param name="pathOut" value="$(arg pathOut)"/>
    <node pkg="autocarz" type="waypoint_fix.py" name="wayfix" output="screen"/> -->

    <!-- pointcloud ROI -->
    <group ns = "vlp">
        <node pkg="autocarz" type="roi_in" name="roi_in" output="screen" >
            <param name="path_in" value="$(arg pathIn)" type="str"/>
            <param if="$(arg carla)" name="pointcloud_topic" value="/carla/ego_vehicle/lidar_vlp16"/>
            <param unless="$(arg carla)" name="pointcloud_topic" value="/velodyne_points"/>
            <param name="roi_idxlen" value="54"/>   <!-- 16+2m -->
            <param name="roi_idx_start" value="7"/>   <!-- 2m / 7 -->
            <param name="is_livox" value="false"/>
            <param name="radius_dim" value="0.1"/> <!--roi반경 축소-->
        </node>
        <node pkg="autocarz" type="roi_out" name="roi_out" output="screen"  >
            <param name="path_out" value="$(arg pathOut)"/>
            <param if="$(arg carla)" name="pointcloud_topic" value="/carla/ego_vehicle/lidar_vlp16"/>
            <param unless="$(arg carla)" name="pointcloud_topic" value="/velodyne_points"/>
            <param name="roi_idxlen" value="54"/>    <!-- 16+2m -->
            <param name="roi_idx_start" value="7"/>  <!-- 2m / 7 -->
            <param name="is_livox" value="false"/>
            <param name="radius_dim" value="0.2"/> <!-- 0.2 -->
        </node>
        
        <node pkg="autocarz" type="ransac_in" name="ransac_in">
            <param name="z_threshold" value="0.1"/>
        </node>

        <node pkg="autocarz" type="ransac_out" name="ransac_out">
            <param name="z_threshold" value="0.1"/>
        </node>
        <node pkg="autocarz" type="cluster_in" name="cluster_in"/>
        <node pkg="autocarz" type="cluster_out" name="cluster_out"/>
    </group>


    <group ns = "livox">
        <node pkg="autocarz" type="roi_in" name="roi_in" output="screen">
            <param name="path_in" value="$(arg pathIn)"/>
            <param if="$(arg carla)" name="pointcloud_topic" value="/carla/ego_vehicle/lidar_vlp16"/>
            <param unless="$(arg carla)" name="pointcloud_topic" value="/livox/lidar"/>
            <param name="roi_idxlen" value="100"/> <!--30 m-->
            <param name="roi_idx_start" value="7"/> <!--2 m-->
            <param name="is_livox" value="true"/>
            <param name="radius_dim" value="0.2"/> <!-- 0.2 -->
        </node>

        <node pkg="autocarz" type="roi_out" name="roi_out" output="screen">
            <param name="path_out" value="$(arg pathOut)"/>
            <param if="$(arg carla)" name="pointcloud_topic" value="/carla/ego_vehicle/lidar_vlp16"/>
            <param unless="$(arg carla)" name="pointcloud_topic" value="/livox/lidar"/>
            <param name="roi_idxlen" value="100"/> <!-- 30 m --> 
            <param name="roi_idx_start" value="7"/> <!--2 m --> 
            <param name="is_livox" value="true"/>
            <param name="radius_dim" value="0.3"/> <!--roi반경 축소 0.3-->
        </node>
        <node pkg="autocarz" type="ransac_in" name="ransac_in">
            <param name="z_threshold" value="0.25"/>
        </node>
        <node pkg="autocarz" type="ransac_out" name="ransac_out">
            <param name="z_threshold" value="0.25"/>
        </node>
        <node pkg="autocarz" type="cluster_in" name="cluster_in" />
        <node pkg="autocarz" type="cluster_out" name="cluster_out"/>
            
    </group>

    <!-- <node pkg="rviz" type="rviz" name="rviz_lidar" args="-d $(find autocarz)/rviz/autocarz_lidar_t.rviz" /> -->


</launch>
