<launch>
    <!-- parameter : path file -->
    <!-- <arg name="pathIn" default="$(find autocarz)/path/PathPre_1_8_12.txt"/> -->
    <arg name="pathIn" default="$(find autocarz)/path/path_in_0819.txt"/>
    <arg name="pathOut" default="$(find autocarz)/path/path_out_0819.txt"/>
    <arg name="isPreRound" default="false"/>

    <!-- drive -->
    <node pkg="autocarz" type="planner_vector_08_12.py" name="planner_vector_simul" output = "screen"/>
        <param name="pathIn" value="$(arg pathIn)"/>
        <param name="pathOut" value="$(arg pathOut)"/>
        <param name="isPreRound" value="$(arg isPreRound)"/>

    <node pkg="autocarz" type="serialControl_simul.py" name="serialControl" output = "screen" />

    
    <!-- <include file="$(find autocarz)/launch/autocarz_lidar.launch" /> -->

    <!-- autocarz.rviz -->
    <node pkg="rviz" type="rviz" name="rviz_lidarm" args="-d $(find autocarz)/rviz/autocarz.rviz" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1  map odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 base_link velodyne " />

</launch>
